
<div class="bg">
  <h1 style= "text-align: center; color: white; text-decoration: underline;">ABC Pvt Limited </h1>
 



<div class="container-fluid" style="background-color:rgb(217, 164, 224);width:100%;height: 540px;">
  <div class="col-md-6">
    
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)"><br>
      <div class="form">
        <h1 id="title" style="color:black; text-decoration: underline;font-size:larger; text-align: center;">......!!!Details Validating Form!!!......</h1>
        </div>
      
        <div class="form1">
          <div class="form-group">
            <label>User Full Name</label>
            <input pattern="[a-zA-z]*" type="text" #name="ngModel" class="form-control" name="name" ngModel
              placeholder="Name">
            <span *ngIf="name.invalid && name.touched" class="error">
              Name is not valid</span>
          </div>


      <div class="form-group">
                <label>Email address</label>
        <input type="email" email class="form-control" name="useremail" ngModel #email="ngModel" required
          aria-describedby="emailHelp">
        <span *ngIf="email.invalid && email.touched" class="error">Email is not valid</span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input required maxlength="10" minlength="5" #password="ngModel" type="password" class="form-control"
          name="password" ngModel>
        <span *ngIf="password.invalid && password.touched" class="error">Password is not valid</span>
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input type="text" minlength="8" maxlength="12" #mobile="ngModel" class="form-control" name="mobile" ngModel
          placeholder="Mobile">
        <span *ngIf="mobile.invalid && mobile.touched" class="error">Mobile N
          umber is not valid</span>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input pattern="[a-zA-z]*" type="text" #address="ngModel" class="form-control" name="address" ngModel
          placeholder="Address">
        <span *ngIf="address.invalid && address.touched" class="error">
          Address Number is not valid</span>
      </div>
      <button type="submit" [disabled]="userForm.invalid" class="btn btnprimary" style="background-color: rgb(57, 8, 235);color: white;">Submit</button>
        </div>
    </form>
  </div>
  </div>

  <!-- footer starts -->
  <div class="container-fluid bg">
    <h5 style="text-align: center;"> Copywrite &copy; 2020-01 ABC Pvt Ltd. All Rights Reserved</h5>
</div>
  <!-- footer ends -->